<div class="container d-flex align-items-center">

      <!-- <h1 class="logo mr-auto"><a href="index.html">Multi</a></h1> -->
      <!-- Uncomment below if you prefer to use an image logo -->
      <a href="ch_index.html" class="logo mr-auto"><img src="assets/img/logo_large.jpg" alt="" class="img-fluid"></a>

      <nav id="nav-menu" class="nav-menu d-none d-lg-block">
        <ul>
          {{#if index}}
            <li class="active"><a href="ch_index.html">公司介紹</a></li>
          {{else}}
            <li><a href="ch_index.html">公司介紹</a></li>
          {{/if}}

          {{#if stakeholders}}
            <li class="active"><a href="ch_stakeholders.html">股東背景</a></li>
          {{else}}
            <li><a href="ch_stakeholders.html">股東背景</a></li>
          {{/if}}
          
          {{#if stakeholders}}
            <li class="active"><a href="ch_equity.html">股權結構</a></li>
          {{else}}
            <li><a href="ch_equity.html">股權結構</a></li>
          {{/if}}
          
          {{#if stakeholders}}
            <li class="active"><a href="ch_organization.html">公司結構</a></li>
          {{else}}
            <li><a href="ch_organization.html">公司結構</a></li>
          {{/if}}
          
          {{#if stakeholders}}
            <li class="active drop-down"><a href="ch_business.html">業務活動</a>
              <ul>
                <li><a href="ch_stakeholders.html#">証券經紀服務</a></li>
                <li><a href="ch_stakeholders.html#">証券研究與資產管理</a></li>
                <li><a href="ch_stakeholders.html#">發展 </a></li>
              </ul>
            </li>
          {{else}}
            <li class="drop-down"><a href="ch_business.html">業務活動</a>
              <ul>
                <li><a href="ch_stakeholders.html#">証券經紀服務</a></li>
                <li><a href="ch_stakeholders.html#">証券研究與資產管理</a></li>
                <li><a href="ch_stakeholders.html#">發展 </a></li>
              </ul>
            </li>
          {{/if}}
          
          {{#if stakeholders}}
            <li class="active"><a href="ch_market.html">客戶及市場</a></li>
          {{else}}
            <li><a href="ch_market.html">客戶及市場</a></li>
          {{/if}}

          {{#if stakeholders}}
            <li class="active drop-down"><a href="ch_operation.html">操作模式 </a>
              <ul>
                <li><a href="ch_operation.html#">証券經紀 </a></li>
                <li><a href="ch_operation.html#">証券買賣</a></li>
              </ul>
            </li>
          {{else}}
            <li class="drop-down"><a href="ch_operation.html">操作模式 </a>
              <ul>
                <li><a href="ch_operation.html#">証券經紀 </a></li>
                <li><a href="ch_operation.html#">証券買賣</a></li>
              </ul>
            </li>
          {{/if}}
          
          {{#if stakeholders}}
              <li class="active"><a href="ch_risk.html">風險和內部控制</a></li>
          {{else}}
            <li><a href="ch_risk.html">風險和內部控制</a></li>
          {{/if}}
          
          {{#if stakeholders}}
            <li class="active"><a href="ch_license.html">牌照</a></li> 
          {{else}}
            <li><a href="ch_license.html">股東背景</a></li>
          {{/if}}


      </ul>
      </nav><!-- .nav-menu -->

      <!-- <a href="#about" class="get-started-btn">Get Started</a> -->

    </div>