<div class="container d-flex align-items-center">

      <!-- <h1 class="logo mr-auto"><a href="index.html">Multi</a></h1> -->
      <!-- Uncomment below if you prefer to use an image logo -->
      <a href="ch_index.html" class="logo mr-auto"><img src="assets/img/logo_large.jpg" alt="" class="img-fluid"></a>

      <nav id="nav-menu" class="nav-menu d-none d-lg-block">
        <ul>
          {{#if index}}
            <li class="active"><a href="ch_index.html">Company</a></li>
          {{else}}
            <li><a href="ch_index.html">Company</a></li>
          {{/if}}

          {{#if organization}}
            <li class="active drop-down"><a href="#">Organization</a>
              <ul>
                <li><a href="ch_stakeholders.html">股東背景</a></li>
                <li><a href="ch_equity.html#">股權結構</a></li>
                <li><a href="ch_organization.html#">公司結構</a></li>
              </ul>
            </li>
          {{else}}
            <li class="drop-down"><a href="#">Organization</a>
              <ul>
                <li><a href="ch_stakeholders.html">股東背景</a></li>
                <li><a href="ch_equity.html#">股權結構</a></li>
                <li><a href="ch_organization.html#">公司結構</a></li>
              </ul>
            </li>
          {{/if}}
          
          {{#if business}}
            <li class="active drop-down"><a href="ch_business.html">Business</a>
              <ul>
                <li><a href="ch_business.html#">証券經紀服務</a></li>
                <li><a href="ch_business.html#">証券研究與資產管理</a></li>
                <li><a href="ch_business.html#">發展 </a></li>
              </ul>
            </li>
          {{else}}
            <li class="drop-down"><a href="ch_business.html">Business</a>
              <ul>
                <li><a href="ch_business.html#">証券經紀服務</a></li>
                <li><a href="ch_business.html#">証券研究與資產管理</a></li>
                <li><a href="ch_business.html#">發展 </a></li>
              </ul>
            </li>
          {{/if}}
          
          {{#if market}}
            <li class="active"><a href="ch_market.html">Market</a></li>
          {{else}}
            <li><a href="ch_market.html">Market</a></li>
          {{/if}}

          {{#if operation}}
            <li class="active drop-down"><a href="#">Operation</a>
              <ul>
                <li><a href="ch_operation.html">証券經紀及買賣</a></li>
                <li><a href="ch_risk.html">風險和內部控制</a></li>
                 <li><a href="ch_license.html">牌照</a></li>
              </ul>
            </li>
          {{else}}
            <li class="drop-down"><a href="#">Operation</a>
              <ul>
                <li><a href="ch_operation.html">証券經紀及買賣</a></li>
                <li><a href="ch_risk.html">風險和內部控制</a></li>
                 <li><a href="ch_license.html">牌照</a></li>
              </ul>
            </li>
          {{/if}}
          
          {{#if aboutus}}
            <li class="active"><a href="ch_aboutus.html">About Us</a></li>
          {{else}}
            <li><a href="ch_aboutus.html">About Us</a></li>
          {{/if}}

          <li><a href="ch_index.html">中文版</a></li> 

      </ul>
      </nav><!-- .nav-menu -->

      <!-- <a href="#about" class="get-started-btn">Get Started</a> -->

    </div>